{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% set endpoints = [
    ('account.manage', '账号信息'),
    ('account.change_email_request', '修改邮箱'),
    ('account.change_password', '修改密码'),
    ('account.logout', '注销')
] %}

{% macro navigation(items) %}
    <div class="ui vertical fluid secondary menu">
        {% for route, name in items %}
            {% set href = url_for(route) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro user_info(user) %}
    <table class="ui compact definition table">
        <tr><td>用户名</td><td>{{ '%s %s' % (user.first_name, user.last_name) }}</td></tr>
        <tr><td>邮箱</td><td>{{ user.email }}</td></tr>
        <tr><td>账号类型</td><td>{{ user.role.name }}</td></tr>
    </table>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                账号设置
                <div class="sub header">账号设置以及修改登录信息</div>
            </h2>
        </div>
        <div class="stretched divided very relaxed row">
            <div class="four wide column">
                {{ navigation(endpoints) }}
            </div>
            <div class="eight wide column">
                {% if form %}
                    {{ f.render_form(form, extra_classes='fluid') }}
                {% else %}
                    {{ user_info(user) }}
                {% endif %}
            </div>
        </div>
    </div>
    {{ check.password_check('new_password', 0) }}
{% endblock %}
