{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
{#                Admin Dashboard#}
                管理员控制面板
            </h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('注册用户表', 'admin.registered_users',
                                    description='注册用户管理', icon='users icon') }}
                {{ dashboard_option('添加新用户', 'admin.new_user',
                                    description='创建一个新用户', icon='add user icon') }}
                {{ dashboard_option('邀请新用户', 'admin.invite_user',
                                    description='邀请新用户注册', icon='add user icon') }}
            </div>
        </div>
    </div>
{% endblock %}