{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                VIP控制面板
            </h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('流量统计', 'vip.flow_count',
                                    description='VIP用户流量统计', icon='users icon') }}
                {{ dashboard_option('次数统计', 'vip.times_count',
                                    description='VIP用户使用次数统计', icon='add user icon') }}
                {{ dashboard_option('时间统计', 'vip.duration_count',
                                    description='VIP用户使用时长统计', icon='add user icon') }}
            </div>
        </div>
    </div>
{% endblock %}